/* Style pour l'élément avec l'ID "filtre" */
#filtre {
  width: 95%;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 140%;
}

/* Style pour l'élément avec l'ID "price-range" */
#price-range {
  display: inline-block;
  margin: 5px;
}

/* Style pour l'élément avec l'ID "price" */
#price {
  width: 200px;
}

/* Styles pour une classe spécifique, probablement utilisée pour un interrupteur bascule (toggle switch) */
.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch + label {
  /* Styles pour l'étiquette associée à l'interrupteur bascule */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
.checkbox-wrapper-35 .switch + label::after {
  content: "";
  display: block;
}

.checkbox-wrapper-35 .switch + label::before {
  /* Styles pour la partie non activée de l'interrupteur bascule */
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.checkbox-wrapper-35 .switch + label::after {
  /* Styles pour la partie activée de l'interrupteur bascule */
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05),
    0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
  /* Styles pour le texte associé à l'interrupteur bascule */
  display: block;
  margin-right: 0.3em;
  font-size: 17px;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
  /* Styles pour le texte associé à l'interrupteur bascule lors du basculement */
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
.checkbox-wrapper-35 .switch + label .switch-x-checked {
  /* Styles pour la partie non activée/activée de l'interrupteur bascule lors du basculement */
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out,
    -webkit-transform 0.125s ease-out;
}
/* Styles pour un interrupteur bascule spécifique (classe .checkbox-wrapper-35) */
.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
  /* Styles pour une étiquette cachée associée à l'interrupteur bascule */
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
  /* Styles lorsque l'interrupteur bascule est activé */
  background-color: #2ac7ee;
}

.checkbox-wrapper-35 .switch:checked + label::after {
  /* Styles lorsque l'interrupteur bascule est activé */
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
  /* Styles lorsque l'interrupteur bascule est activé pour la partie non activée */
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
  /* Styles lorsque l'interrupteur bascule est activé pour la partie activée */
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* Styles pour une grille de destination spécifique (classe .grid-container) */
#grid_dest .grid-container {
  display: grid;
  width: 100%;
  column-gap: 25px;
  row-gap: 15px;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
}

#grid_dest .grid-container a,
#grid_dest .grid-container a:visited {
  /* Styles pour les liens dans la grille de destination */
  color: black;
  text-decoration: none;
}

#grid_dest .grid-container a:hover {
  /* Styles au survol des liens dans la grille de destination */
  color: rgb(63, 54, 54);
}

#grid_dest .grid-container h2 {
  /* Styles pour les titres de niveau 2 dans la grille de destination */
  bottom: 10px;
}

#grid_dest .grid-item:hover,
#empty:hover {
  /* Styles au survol des éléments de la grille de destination ou de l'élément vide */
  transition: transform 0.5s;
  transform: scale(1.03);
}

/* Styles pour l'élément avec l'ID "panier" */
#panier {
  z-index: 3;
  position: relative;
  left: 87%;
  top: 15px;
  width: 50px;
  text-align: left;
}

/* Styles pour les images dans l'élément avec l'ID "contenu" */
#contenu img {
  border-radius: 10px;
}

/* Styles pour la barre de navigation */
nav {
  z-index: 8;
  height: auto;
  width: 100%;
  background-color: rgb(31, 41, 46);
  position: sticky;
  top: 0px;
}
/* Styles pour la barre de navigation */
nav div {
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 25%;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav img {
  width: 50px;
  height: 50px;
}

nav a {
  width: 50px;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

/* Styles pour les sous-menus de navigation */
.sous {
  font-size: 15px;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  position: absolute;
  width: 500px;
  height: 200%;
  z-index: 1000;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

/* Styles pour le conteneur */
.conteneur {
  margin: 50px 20px;
  height: 1500px;
}

/* Styles pour la grille (grid-container) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

/* Styles pour l'élément avec l'ID "logo_bis" */
#logo_bis {
  position: relative;
  margin: 0 auto;
  top: 8px;
  opacity: 0;
  transition: opacity 0.3s, transform 2s;
  transform: translateY(-150px);
}

#logo_bis.slideIn {
  transform: translateY(0);
  opacity: 1;
}

#logo_bis img {
  width: 90px;
  height: auto;
}

/* Styles pour l'élément avec l'ID "logo" */
#logo {
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  transition: opacity 0.3s, transform 2s;
}

#logo.slideOut {
  transform: translateY(150px);
  opacity: 0;
  transition: opacity 0.3s, transform 2s;
}
